extends layout

block content
	.container-fluid#colorBlock(style='background-color: #{item.color}')
		.row
			.col-lg-10.col-md-10.col-sm-10.col-xs-10
			.col-lg-2.col-md-2.col-sm-2.col-xs-2#nav			
				a(href="#")#menuButton
					i.fa.fa-bars.fa-3x.whiteText.floatRight
				div#menuList
					ul
						li Stuff here

		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12					
				h1.whiteText.huge.center(style='font-family: #{item.font}') #{item.title}
		.row.margin
			.container
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.center
					a.space(href='#{item.URL}')
						img.icon(src='/images/globe.png' height='32' width='32')
						p.inline Website
					a(href='#{item.githubURL}')
						img.icon(src='/images/github_logo.png' height='32' width='35')
						p.inline Github

		.container
			.row.margin
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					.container
					div#carousel-example.carousel.slide(data-ride='carousel')
						.height.carousel-inner(role='listbox')
							.item.active
								img.center(src='#{item.logo}')
							for photo in item.photos
								.item
									img.center(src='#{photo}')

						.carousel-control.left(href='#carousel-example' role='button' data-slide='prev')
							i.glyphicon.glyphicon-chevron-left.fa.fa-caret-left(aria-hidden='true')
							.sr-only
								p Previous
						.carousel-control.right(href='#carousel-example' role='button' data-slide='next')
							i.glyphicon.glyphicon-chevron-right.fa.fa-caret-right(aria-hidden='true')
							.sr-only
								p Next
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					h2.blackText is about
					p #{item.description}
					h2.blackText has these features
					p #{item.features}

			.row.margin
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.center
						h2.blackText was built using
						ul
							for tag in item.tags
								a(href='')
									li.white #{tag}




